* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
}

#map {
    height: 100vh;
    background-color: red;
    flex: 4;
  }

.parent {
    display: flex;
}

.right-sidebar {
    flex: 1;
    background-color: green;
}

.hotels {
    background-color: purple;
}

label {
    display: block;
}

button, select {
    display: inline-block;
}