* {
    box-sizing: border-box;
    list-style: none;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 'Open Sans', sans-serif;

}

nav > ul {
    display: flex;
}

nav > ul > li {
    flex : 1;
    transition: all .3s ease;

}
nav > ul > li:hover{
    color: lightcoral;
}


#map {
 
    flex: 4;
  }

.parent {
    display: flex;
    height: 100vh;
}

.right-sidebar {
    background: none;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    
}




.hotels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: lightblue;
    flex:1;
    height: 50%; 
    margin-bottom: 20px;
}

.itinerary{
    flex:1;
    height: 50%;
    background-color: coral;
}
label {
    display: block;
}

button, select {
    display: inline-block;
}